<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.zhangw.onlineeducation.mapper.EpisodeMapper">
  <resultMap id="BaseResultMap" type="vip.zhangw.onlineeducation.domain.Episode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="ordered" jdbcType="INTEGER" property="ordered" />
    <result column="play_url" jdbcType="VARCHAR" property="playUrl" />
    <result column="chapter_id" jdbcType="INTEGER" property="chapterId" />
    <result column="free" jdbcType="TINYINT" property="free" />
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, num, ordered, play_url, chapter_id, free, video_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from episode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from episode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="vip.zhangw.onlineeducation.domain.Episode">
    insert into episode (id, title, num, 
      ordered, play_url, chapter_id, 
      free, video_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{ordered,jdbcType=INTEGER}, #{playUrl,jdbcType=VARCHAR}, #{chapterId,jdbcType=INTEGER}, 
      #{free,jdbcType=TINYINT}, #{videoId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="vip.zhangw.onlineeducation.domain.Episode">
    insert into episode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="ordered != null">
        ordered,
      </if>
      <if test="playUrl != null">
        play_url,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="free != null">
        free,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="ordered != null">
        #{ordered,jdbcType=INTEGER},
      </if>
      <if test="playUrl != null">
        #{playUrl,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="free != null">
        #{free,jdbcType=TINYINT},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="vip.zhangw.onlineeducation.domain.Episode">
    update episode
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="ordered != null">
        ordered = #{ordered,jdbcType=INTEGER},
      </if>
      <if test="playUrl != null">
        play_url = #{playUrl,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="free != null">
        free = #{free,jdbcType=TINYINT},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="vip.zhangw.onlineeducation.domain.Episode">
    update episode
    set title = #{title,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      ordered = #{ordered,jdbcType=INTEGER},
      play_url = #{playUrl,jdbcType=VARCHAR},
      chapter_id = #{chapterId,jdbcType=INTEGER},
      free = #{free,jdbcType=TINYINT},
      video_id = #{videoId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--Episode selectByVideoId(Integer id);-->
  <select id="selectByVideoId" resultType="Episode">
    select
    <include refid="Base_Column_List" />
    from episode
    where video_id = #{video_id,jdbcType=INTEGER} and num = 1
  </select>
</mapper>